<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Access Request Form - Confirmation</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <h1>Access Request Form - Confirmation</h1>
      <p>Your application has been successfully sent.</p>
      <form action="/" method="get">
        <input type="submit" value="Back to Main Page">
      </form>
    </div>
  </body>
</html>
