<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome User - Access Request Form</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <h1>Welcome User</h1>
      <div class="buttons">
        <form action="/skyward" method="get">
          <input type="submit" value="Skyward Request Form">
        </form>
        <form action="/status" method="get">
          <input type="submit" value="Request Status">
        </form>
      </div>
    </div>
  </body>
</html>